.symbol {
    width: 30px;
    height: 30px;
  }
  .hidden{
    display: none;
    visibility: hidden;
  }
  .body{
    justify-content: center;
    color: goldenrod;
    background-color: black;
  }
  .Slot-Window{
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 10%;
    display: flex;
  justify-content: center;
  gap: 80px;
  }
  .Image-combo{
    display: flex;
    justify-content: center;
  }